.App {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(purple,darkblue);
  color: white;
  font-size: 20px;
}

header::after {
  content: "";
  display: block;
  clear: both;
}

header > div {
  float: left;
  color: whitesmoke;
}

.title-div {
  width: 80%;
  text-align: center;
}


.logo-div {
  width: 20%;
}

.logo-div * {
  display: inline-block;
}

.logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.form-container {
  width: 45%;
  margin: 0 auto;
  margin-top: 10%;
}

.btn-container {
  width: 80%;
  text-align: center;
}


.connect-wallet-container {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 50%;
}

.connect-wallet-button {
  margin: 0 auto;
}

.twitter-logo {
  width: 40px;
  height: 40px;
}

.footer-container {
  position: relative;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

input {
  width: 80%;
  height: 45px;
  border-radius: 10px;
  text-align: center;
  font-size: 1rem;
  color: lightgray;
  outline: none;
  background-color: transparent;
  border: inset 1px gray;
  margin-right: 10px;
}

button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  font-size: 1.3rem;
  background-image: linear-gradient(blue,aqua);
  cursor: pointer;
  display: block;
}

.mint-list {
  margin: 0 auto;
  width: 98%;
  background-image: linear-gradient(blue,aqua);
}

.link {
  display: inline-block;
  margin-right: 10px;
}
.edit-button {
  display: inline-block;
  float: right;
  background-image: linear-gradient(green,seagreen);
}

.mint-item {
  padding: 10px;
  width: 250px;
}

.mint-button {
  width: 90px;
  height: 45px;
  margin-left: 40%;
}

.form-container input {
  display: inline-block;
}

.first-row {
  display: flex;
}

.footer-text {
  text-decoration: none;
  color: lightgray;
}